
.ion-card-img{
    width : 20em;
    height: 20em;
    margin: auto auto;
}

.or-label {
    width: 35%;
    font-size: 16px;
    margin: auto auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }